<div class="flex flex-col items-start justify-start w-full">

  <h2 class="text-xl font-bold mb-10">Información del Pago</h2>

  <div class="flex lg:flex-row flex-col justify-between border-b-2 my-5 pb-5 w-full">
    <div class="lg:ml-20 flex flex-col justify-center w-full lg:w-1/3">
      <mat-form-field appearance="outline">
        <mat-label>Método de pago</mat-label>
        <mat-select (valueChange)="selectMethodPayment($event)">
          @for (item of methodPayments; track $index) {
          <mat-option [value]="item.id">{{item.bank}} -
            {{item.owner}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <form [formGroup]="formMethod" class="w-full flex flex-wrap items-start justify-end gap-5">
      <mat-form-field appearance="outline">
        <mat-label>Banco</mat-label>
        <input matInput formControlName="bank">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="owner">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cédula</mat-label>
        <input matInput formControlName="identify">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="phone">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </form>
  </div>

  <div>
    <h2 class="text-xl font-bold mb-10">Datos del Pago</h2>

    <form [formGroup]="formPayment"
      class="w-full flex flex-wrap items-start justify-start gap-5">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="namePayer">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="lastNamePayer">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cédula</mat-label>
        <input matInput formControlName="identifyPayer">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="phonePayer">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="emailPayer">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Banco</mat-label>
        <input matInput formControlName="bankPayer">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Referencia</mat-label>
        <input matInput formControlName="reference">
      </mat-form-field>

      <div class="flex items-center justify-center py-4 text-xl">
        <span class=" font-bold mr-2">Total:</span>
        <span>{{total}},00$</span>
      </div>

      <button mat-flat-button type="submit"
        (click)="completePayment()">Pagar</button>
    </form>
  </div>
</div>
