<div class="w-full mt-20 flex flex-col items-center justify-center">
    <div class=" shadow-2xl w-1/2 rounded-xl p-8">
        <p class="text-2xl text-center font-semibold mb-5">Actualizar
            contraseña</p>

        <form [formGroup]="backupPasswordForm" class="p-4 w-1/2 mx-auto">
            <div class="flex flex-col gap-2">
                <label class="font-normal">Contraseña</label>
                <input
                    class="w-full outline-none py-2 px-6 rounded-2xl my-2 border-blue-500 border"
                    type="text"
                    autocomplete="off"
                    formControlName="password" />

            </div>
            <div class="flex flex-col gap-2 my-5">
                <label class="font-normal">Confirmar Contraseña</label>
                <input
                    class="w-full outline-none py-2 px-6 rounded-2xl my-2 border-blue-500 border"
                    type="text"
                    autocomplete="off"
                    formControlName="confirmPassword" />
            </div>

            @if (messageError !== '') {
            <div class="text-center w-full mb-5">
                <span class=" text-sm text-red-600 font-semibold ">{{messageError}}</span>
            </div>
            }

            <div class="text-center">
                <button (click)="onSubmit()" mat-flat-button>Confirmar</button>
            </div>
        </form>

    </div>
</div>