<app-ecommerce-header></app-ecommerce-header>

<div class="mt-10 mb-16 flex justify-center">

    <img src="paisaje.jpeg" alt="Logo" class="mx-auto w-1/2" >

</div>

<main>

    <div class="mb-10">
        <h2 class="text-3xl font-bold text-center mb-5">Productos Más Vendidos</h2>

        <div class="flex justify-center">
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
        </div>

    </div>

    <div class="mb-10">
        <h2 class="text-3xl font-bold text-center mb-5">Bebidas</h2>

        
        <div class="flex justify-center">
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
        </div>
    </div>

    <div class="mb-10">
        <h2 class="text-3xl font-bold text-center mb-5">Comestibles</h2>

        
        <div class="flex justify-center">
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
        </div>
    </div>

    <div>
        <h2 class="text-3xl font-bold text-center mb-5">Medicinas</h2>

        
        <div class="flex justify-center">
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
        </div>
    </div>

</main>

<footer class="mt-10">
    <div class="bg-blue-900 shadow-md p-4"></div>
</footer>
