<aside class="absolute top-18 left-0 bg-blue-900 h-screen p-2 transition-all duration-[.20s] ease-in w-14 hover:w-72 overflow-hidden group">
    @for (item of categoriesMenu; track $index) {
    <div class="flex items-center justify-start gap-5 group-hover:gap-2 my-2 w-full cursor-pointer rounded-full hover:bg-blue-700 transition-all duration-100">
        <span class="material-icons w-10 h-10 flex items-center justify-center text-white text-xl p-1">{{item.icon}}</span>
        <p class="text-white whitespace-nowrap block">{{item.label}}</p>
    </div>
    }
</aside>