<aside class="bg-blue-900 h-full p-5 w-20 hover:w-72 space-y-14">

    <div class="flex items-center space-x-8">
        <span class="material-icons bg-red-800 rounded-full text-white text-3xl p-1">menu</span>
        <p class="text-white">Menu de Categorias</p>
    </div>

    <div class="flex items-center space-x-8 hover:text-red-600">
        <button class="material-icons bg-red-800 rounded-full text-white text-3xl p-1">trending_up</button>
        <button class="text-sm text-white">Productos Más Vendidos</button>
    </div>

    <div class="flex items-center space-x-8 hover:text-red-600">
        <button class="material-icons bg-red-800 rounded-full text-white text-3xl p-1">local_bar</button>
        <button class="text-sm text-white">Bebidas</button>
    </div>

    <div class="flex items-center space-x-8 hover:text-red-600">
        <button class="material-icons bg-red-800 rounded-full text-white text-3xl p-1">storefront</button>
        <button class="text-sm text-white">Comestibles</button>
    </div>

    <div class="flex items-center space-x-8 hover:text-red-600">
        <button class="material-icons bg-red-800 rounded-full text-white text-3xl p-1">medical_services</button>
        <button class="text-sm text-white">Medicinas</button>
    </div>

</aside>