<div class="w-full flex flex-col items-start justify-start gap-5">

  @for (item of products; track $index) {
  <div class="flex flex-col lg:flex-row items-center justify-between rounded-md border-2 px-4 py-4 w-full">
    <div class="flex items-center justify-center gap-4">
      <div class="w-16 h-16 rounded-full overflow-hidden border-blue-700 border-2">
        <img
        src="https://imgs.search.brave.com/1DQO1zG_1--CWFG3pa4JDNv7SxB9yUpnjOnFxwDnUAQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/ZmFybWFjaWFzZGly/ZWN0LmVzL2Nkbi9z/aG9wL2ZpbGVzL2Zp/dG9jb25jZW50cmFk/by1lcXVpbmFjZWEt/YWJvY2EtNTAwLW1n/LTUwLWNhcHN1Lndl/YnA_dj0xNzI1MDUx/ODkxJndpZHRoPTUz/Mw"
        alt="Producto" class="w-full h-full object-cover">
      </div>
      
      <div>
        <p class="text-xl">{{item.producto.store.name}}</p>
        <p class="text-sm text-gray-400">{{item.producto.store.category.category}}</p>
        <p class="text-md">Precio unitario: {{item.producto.store.price | currency:'USD' }}</p>
        <div class="flex items-center justify-start gap-2">
          <button [disabled]="item.amount === 1" (click)="changeAmountProduct(item, 'remove')" class="disabled:bg-gray-500 rounded-full w-8 h-8 text-white bg-red-600">-</button>
          <span class="border py-2 px-4">{{item.amount}}</span>
          <button (click)="changeAmountProduct(item, 'plus')" class=" rounded-full w-8 h-8 text-white bg-blue-600">+</button>
        </div>
      </div>
    </div>

    <div class="flex flex-col items-center justify-between gap-5 lg:mt-0 mt-5">
      <button (click)="deleteCarrito(item)" class="rounded-full px-4 py-2 lg:p-0 lg:w-8 h-8 text-white bg-red-600 flex items-center justify-center">
        <span class="block lg:hidden">Eliminar</span>
        <span class="material-icons">delete</span>
      </button>

      <div class=" text-right">
        <p class="font-semibold" >Total: {{item.producto.store.price * item.amount| currency:'USD' }}</p>
      </div>
    </div>
  </div>
  }
</div>