<div class="pr-14 py-8 w-full">
    <div class="flex justify-between">
        <h2 class="font-bold text-2xl">Carrito de Compra</h2>
    </div>

    <mat-stepper labelPosition="bottom" #stepper class="mt-10 !bg-white border-2 rounded-xl px-16 w-full">
        <mat-step>
            <div>
                <ng-template matStepLabel>Productos</ng-template>
                <div class="h-80 overflow-y-auto">
                    <app-ecommerce-cart></app-ecommerce-cart>
                </div>

                <div class="mt-10 flex justify-end">
                    <button mat-button matStepperNext>Siguiente</button>
                </div>
            </div>

        </mat-step>

        <mat-step>
            <div>
                <ng-template matStepLabel>Ingresa los datos del pago</ng-template>

                <div class="mb-10 h-80 overflow-y-auto">
                    <app-ecommerce-payment></app-ecommerce-payment>
                </div>

                <div class="flex justify-between">
                    <button mat-button matStepperPrevious>Volver</button>
                    <button mat-button matStepperNext>Siguiente</button>
                </div>
            </div>
        </mat-step>

        <mat-step>
            <div>
                <ng-template matStepLabel>Completado</ng-template>

            </div>

        </mat-step>

    </mat-stepper>

</div>
