<div class="w-full flex flex-col items-start justify-start gap-5 px-8 py-4">

    <div class="flex items-center justify-start gap-2 my-2 w-full">
        <span class="material-icons text-3xl">list_alt</span>
        <p class=" text-3xl !m-0">Mis Pedidos</p>
    </div>

    <mat-accordion class="w-full ">
        @for (item of pedidos; track $index) {
        <mat-expansion-panel>
            <mat-expansion-panel-header class="!h-full">
                <div class="w-full flex items-center justify-between  px-8 py-5">
                    <div>
                        <p class="font-semibold">Pedido: {{(item.id).toString().padStart(7, '0')}}</p>
                        <p>Total: {{item.total | currency: 'USD'}}</p>
                        <p [className]="setClassName(item.status)">Estado: {{item.status}}</p>
                    </div>

                    @if (item.status === 'Creado') {
                        <div class="flex gap-2">
                            <button (click)="updatePedido(item, 'Denegado')" mat-flat-button type="button" class=" flex gap-2 !bg-red-600">
                                <span class="material-icons">close</span>
                                Denegar
                            </button>
                        </div>
                    }
                </div>
            </mat-expansion-panel-header>

            <div>
                @for (detpe of item.DetPedidos; track $index) {
                    <div
                    class="flex items-center justify-between rounded-md border-2 px-4 py-4 w-full">
                    <div class="flex items-center justify-center gap-4">
                        <div
                            class="w-16 h-16 rounded-full overflow-hidden border-blue-700 border-2">
                            <img
                                src="https://imgs.search.brave.com/1DQO1zG_1--CWFG3pa4JDNv7SxB9yUpnjOnFxwDnUAQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/ZmFybWFjaWFzZGly/ZWN0LmVzL2Nkbi9z/aG9wL2ZpbGVzL2Zp/dG9jb25jZW50cmFk/by1lcXVpbmFjZWEt/YWJvY2EtNTAwLW1n/LTUwLWNhcHN1Lndl/YnA_dj0xNzI1MDUx/ODkxJndpZHRoPTUz/Mw"
                                alt="Producto"
                                class="w-full h-full object-cover">
                        </div>

                        <div>
                            <p class="text-xl">{{detpe.producto.store.name}}</p>
                            <p class="text-sm text-gray-400">{{detpe.producto.store.category.category}}</p>
                            <p class="text-sm ">Cantidad: {{detpe.amount}}</p>
                            <p class="text-md">Precio unitario:
                                {{detpe.producto.store.price | currency:'USD' }}</p>
                        </div>
                    </div>

                    <div
                        class="flex flex-col items-center justify-between gap-5">

                        <div class=" text-right">
                            <p class="font-semibold">Total:
                                {{detpe.total | currency:'USD' }}</p>
                        </div>
                    </div>
                </div>

                }
                
            </div>
        </mat-expansion-panel>
        }

    </mat-accordion>

</div>